# Save this file to /etc/uwsgi/apps-available/slasyz_ru.ini and put a symlink to it into /etc/uwsgi/apps-enabled

[uwsgi]
chdir = /home/sl/django/slasyz_ru
module = slasyz_ru.wsgi:application

daemonize = /var/log/uwsgi/slasyz_ru.log
log-date = True

uid = sl
gid = sl
max-requests = 5000
