{% extends base_tpl %}
{% load i18n %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            {% include "blog/tpl/post.tpl" with full=False %}
        {% endfor %}

        <div id="pagination">
            {% if prev_page_url %}
                <a href="{{ prev_page_url }}" id="prev_page">{% trans "« Previous page" %}</a>
            {% endif %}
            {% if next_page_url %}
                <a href="{{ next_page_url }}" id="next_page">{% trans "Next page »" %}</a>
            {% endif %}
        </div>
    {% else %}
        {% trans "There are no posts right now." %}
    {% endif %}
{% endblock %}
