<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vyacheslav Syrovatsky - Вячеслав Сыроватский - slasyz</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cv.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div id="welcome">
        <h1>Vyacheslav Syrovatsky</h1>
        <h2>Python/Go Developer</h2>
    </div>
    <div id="contacts">
        <div id="contacts-data">
            <h2>Contacts</h2>
            <ul>
                <li>Saint Petersburg, Russia</li>
                <li>+7 (911) 134-02-76</li>
                <li><a href="mailto:slasyz@gmail.com">slasyz@gmail.com</a></li>
            </ul>
        </div>
        <img id="contacts-photo" src="{{ STATIC_URL }}img/photo.jpg" />
    </div>
    <div id="skills">
        <h2>Skills</h2>
        <ul class="outer">
            <li>
                <h3>Web dev</h3>
                <ul class="inner">
                    <li>Python/Django</li>
                    <li>PHP</li>
                    <li>JavaScript <span class="comment">(front end only, beginner level, with jQuery experience)</span></li>
                    <li>HTML/CSS <span class="comment">(with Foundation work experience)</span></li>
                    <li>MySQL/PostgreSQL <span class="comment">(beginner level)</span></li>
                    <li>nginx/apache/uwsgi</li>
                </ul>
            </li>

            <li>
                <h3>Other programming languages</h3>
                <ul class="inner">
                    <li>Python</li>
                    <li>Go</li>
                    <li>C++ <span class="comment">(beginner level)</span></li>
                </ul>
            </li>

            <li>
                <h3>Technology</h3>
                <ul class="inner">
                    <li>Linux <span class="comment">(beginner administrator level)</span> and Windows <span class="comment">(as advanced user)</span></li>
                    <li>Git</li>
                    <li>Little machine learning experience <span class="comment">(with scikit-learn Python library)</span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="education">
        <h2>Education</h2>
        <div>
            <ul class="inner">
                <li>Saint Petersburg State University</li>
                <li>Faculty of Mathematics and Mechanics</li>
                <li>Bachelor degree in Applied Mathematics and Computer Science <span class="comment">(2013&ndash;2017)</span></li>
            </ul>
        </div>
    </div>
    <div id="projects">
        <h2>Projects</h2>
        <div>
            <ul class="inner">
                <li><a href="https://github.com/slasyz/slasyz_ru">Source code </a>of <a href="http://slasyz.ru/">slasyz.ru</a> page; written in Python/Django</li>
                <li><a href="https://github.com/slasyz/scripts">Some scripts</a> written long time ago</li>
                <li><a href="https://github.com/slasyz/panda">panda</a> &mdash; HTTP server written in Go</li>
                <li><a href="https://bebonus.ru/">BeBonus</a> &mdash; coupon service</li>
            </ul>
        </div>
    </div>
</body>
</html>