<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Script</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <script src="static/js/vendor/modernizr.js"></script>
</head>
<body>
    <div class="progress" id="progress">
        <span class="meter" style="width: 70%;"></span>
    </div>
    <div id="wrap">
        <div id="topbar">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                  <li class="name">
                    <h1>
                      <a href="">
                        Ultimate File Uploader
                      </a>
                    </h1>
                  </li>
                </ul>
            </nav>
        </div>
        <div id="center">
            <form method="post" enctype="multipart/form-data" action="">
                <div class="row">
                    <div class="large-4 medium-5 small-8 small-centered columns">
                        <div id="results" class="row">
                            {% for file in files %}
                                <div class="columns small-12">
                                {% if file.error %}
                                    {% comment %}
                                    <div data-alert class="alert-box failure">
                                        {{ file.error }}
                                        <a href="#" class="close">&times;</a>
                                    </div>
                                    {% endcomment %}
                                    <input type="url" onclick="this.select();" value="{{ file.error }}" />
                                {% else %}
                                    <input type="url" onclick="this.select();" value="{{ file.link }}" />
                                {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% csrf_token %}
                        <input type="hidden" name="MAX_FILE_SIZE" id="max_file_size" value="{{ max_file_size }}" />
                        <div id="password-div">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" />
                        </div>
                        <label class="button" id="select-button">
                            <span>Select file</span>
                            <input type="file" name="fileup" style="display: none;" multiple />
                        </label>
                        <input class="button secondary" id="submit-button" type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script src="static/js/custom.js"></script>
</body>
</html>
