{% extends base_tpl %}
{% load i18n %}

{% block content %}
    <ul class="breadcrumbs">
        {% for address in address_panel %}
            <li> <a href="?path={{ address.path }}">{{ address.basename }}</a> </li>
        {% endfor %}
    </ul>

    <div>
        <h3>Dirs:</h3>
        <ul>
            {% for dir in dirs %}
                <li><a href="?path={{ dir.path }}">{{ dir.basename }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Files:</h3>
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ file.public_url }}">[s]</a>
                    <span> | </span>
                    <a href="?path={{ file.path }}">{{ file.basename }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
