<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "global/tpl/head.tpl" %}
</head>
<body>
    <div class="progress" id="progress">
        <span class="meter" style="width: 70%;"></span>
    </div>
    <div id="wrap">
        {% include "global/tpl/topbar.tpl" %}
        <div id="center">
            <form method="post" enctype="multipart/form-data" action="">
                <div class="row">
                    <div class="large-4 medium-5 small-9 small-centered columns">
                        <div id="results" class="row">
                            {% for file in files %}
                                <div class="columns small-12">
                                <a class="close-button" onclick="$(this).parent().remove();" title="Close">&times;</a>
                                {% if file.error %}
                                    {% if file.short_name %}
                                        <span class="error-file">{{ file.short_name }}</span>
                                    {% else %}
                                        <span class="error-file">Upload error</span>
                                    {% endif %}
                                    <div class="error-text">{{ file.error }}</div>
                                {% else %}
                                    <a class="success-file" href="{{ file.link }}">{{ file.short_name }}</a>
                                    <input class="success-url" type="url" onclick="this.select();" value="{{ file.link }}" />
                                {% endif %}
                                </div>
                            {% endfor %}
                            <!--<div class="columns small-12">
                                <a class="close-button" onclick="$(this).parent().remove();" title="Close">&times;</a>
                                <a class="success-file" href="http://govno.tk/asdferh6lkjhylndyld.jpg">asdferh6lkjhylndyld.jpg</a>
                                <input class="success-url" type="url" onclick="this.select();" value="http://govno.tk/asdferh6lkjhylndyld.jpg" />
                            </div>
                            <div class="columns small-12">
                                <a class="close-button" onclick="$(this).parent().remove();" title="Close">&times;</a>
                                <span class="error-file">asdferh6lkjhylndyld.jpg</span>
                                <div class="error-text">A server error occured.</div>
                            </div>
                            <div class="columns small-12">
                                <a class="close-button" onclick="$(this).parent().remove();" title="Close">&times;</a>
                                <a class="success-file" href="http://govno.tk/asdferh6lkjhylndyld.jpg">mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.mmm</a>
                                <input class="success-url" type="url" onclick="this.select();" value="http://govno.tk/asdferh6lkjhylndyld.jpg" />
                            </div>
                            <div class="columns small-12">
                                <a class="close-button" onclick="$(this).parent().remove();" title="Close">&times;</a>
                                <span class="error-file">Upload error:</span>
                                <div class="error-text">A server error occured.</div>
                            </div>-->
                        </div>
                        {% csrf_token %}
                        <input type="hidden" name="MAX_FILE_SIZE" id="max_file_size" value="{{ max_file_size }}" />
                        {% if not request.user.is_authenticated %}
                            <input type="password" name="password" id="password" placeholder="Password" />
                        {% endif %}
                        <label class="button primary" id="select-button" for="fileup">Select file</label>
                        <input type="file" name="fileup" id="fileup" multiple />
                        <input class="button secondary" id="submit-button" type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
        {% include "global/tpl/footer.tpl" %}
    </div>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/js/foundation.min.js"></script>
    <script src="{{ STATIC_URL }}base.js"></script>
    <script src="{{ STATIC_URL }}upload.js"></script>
{% include "yandex.html" %}
</body>
</html>
