{% extends base_tpl %}
{% load i18n %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="">
    <div class="row">
        <div class="large-4 medium-5 small-9 small-centered columns">
            <div id="results" class="row">
                {% for file in files %}
                    <div class="columns small-12">
                    <a class="close-button" onclick="$(this).parent().remove();" title="Close">&times;</a>
                    {% if file.error %}
                        {% if file.short_name %}
                            <span class="error-file">{{ file.short_name }}</span>
                        {% else %}
                            <span class="error-file">Upload error</span>
                        {% endif %}
                        <div class="error-text">{{ file.error }}</div>
                    {% else %}
                        <a class="success-file" href="{{ file.link }}">{{ file.short_name }}</a>
                        <input class="success-url" type="url" onclick="this.select();" value="{{ file.link }}" />
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% csrf_token %}
            <input type="hidden" name="MAX_FILE_SIZE" id="max_file_size" value="{{ max_file_size }}" />
            {% if not request.user.is_authenticated %}
                <input type="password" name="password" id="password" placeholder="Password" />
            {% endif %}
            <label class="button primary" id="select-button" for="fileup">Select file</label>
            <input type="file" name="fileup" id="fileup" multiple />
            <input class="button secondary" id="submit-button" type="submit" value="Upload" />
        </div>
    </div>
</form>
{% endblock %}
