/* size and align of bars and their elements */
.bar{
    background: #AD3D00;
    width: 100%;
    color: #fff;
}
.bar ul{ margin-bottom: 0; }
.bar ul li{ display: inline-block; }
.bar-element{
    display: block;
    padding: 1rem;
}

.bar-left, .bar-right{ margin: 0; }
.bar-left{ float: left; }
.bar-right{ float: right; }
.bar ul li:first-child span{ padding-left: 0; }
.bar ul li:last-child span{ padding-right: 0; }

/* colors of bar elements */
.bar a, .bar a{ color: #FFB088; }
.bar a:hover, .bar a:hover, a.bar-element.active{ color: #FFCCB0; }
a.bar-element:hover, a.bar-element.active{ background-color: #C55500; }