@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,100,700&subset=latin,cyrillic);

$primary-color: #004020;

$text-color: $primary-color;
//$text-color: #204000;
//$text-color: #002000;
$comment-color: scale_color($text-color, $saturation: -75%, $lightness: 50%);
$link-color: scale_color($text-color, $saturation: -30%, $lightness: 30%);

$header-weight: 400;
$text-weight: 400;
$welcome-header-weight: 400;

$welcome-bg-color: scale_color($text-color, $saturation: -40%, $lightness: 80%);
$welcome-shadow-color: scale_color(grayscale($welcome-bg-color), $lightness: 50%);
$welcome-h2-color: scale_color($text-color, $lightness: 10%);

html,body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  color: $text-color;
  font-weight: $text-weight;
  line-height: 1;

  a{
    text-decoration: none;
    color: $link-color;

    &:hover{
      border-bottom: 1px solid $link-color;
    }
  }

  h1,h2,h3{
    font-weight: $header-weight;
  }
}

#contacts, #skills, #education{
  max-width: 48rem;
  margin: 2rem auto 3rem;
  padding: 0 1rem;

  ul{
    li{
      margin-bottom: 0.75rem;
    }
  }
  ul.inner{
    margin-bottom: 2rem;
  }
}

#welcome {
  background: $welcome-bg-color;
  //box-shadow: 0 0.5rem 1rem #f0ebf2;
  box-shadow: 0 0.5rem 1rem $welcome-shadow-color;

  padding: 2rem 0 3rem;

  text-align: center;

  h1, h2 {
    margin: 0;
    font-weight: $welcome-header-weight;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
    margin-top: 1rem;
    //color: #003f54;
    //color: scale_color($text-color, $lightness: 10%);
    color: $welcome-h2-color;
  }
}

#contacts{
  ul{
    list-style: none;
    padding-left: 1rem;
  }
}

#skills, #education{
  ul{
    list-style: none;
  }
  ul.outer{
    padding-left: 1rem;
  }
  ul.inner{
    padding-left: 1rem;
  }

  .comment{
    color: $comment-color;
  }
}