@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,100,700&subset=latin,cyrillic);

$primary-color: #ccccef;

$text-color: scale_color($primary-color, $saturation: -50%, $lightness: -80%);
$comment-color: scale_color($primary-color, $saturation: -50%, $lightness: -30%);
$link-color: scale_color($text-color, $saturation: -30%, $lightness: 30%);

$header-weight: 400;
$text-weight: 400;
$welcome-header-weight: 400;

$welcome-bg-color: $primary-color;
$welcome-shadow-color: scale_color(grayscale($welcome-bg-color), $lightness: 50%);
$welcome-h1-color: $text-color;
$welcome-h2-color: scale_color($text-color, $saturation: -40%, $lightness: 40%);

html,body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  color: $text-color;
  font-weight: $text-weight;
  line-height: 1;

  a{
    text-decoration: none;
    color: $link-color;

    &:hover{
      border-bottom: 1px solid $link-color;
    }
  }

  h1,h2,h3{
    font-weight: $header-weight;
  }
}

#contacts, #skills, #education, #projects{
  max-width: 48rem;
  margin: 3rem auto;
  padding: 0 1rem;

  ul{
    list-style: none;
    padding-left: 1rem;

    &.inner{
      margin-bottom: 2rem;
    }

    li{
      margin-top: 0.75rem;
    }
  }

  .comment{
    color: $comment-color;
  }
}

#welcome {
  background: $welcome-bg-color;
  box-shadow: 0 0.5rem 1rem $welcome-shadow-color;
  padding: 4rem 0 5rem;

  text-align: center;

  h1, h2 {
    margin: 0;
    font-weight: $welcome-header-weight;
  }
  h1{
    font-size: 3rem;
    $color: $welcome-h1-color;
  }
  h2{
    font-size: 2rem;
    margin-top: 1rem;
    color: $welcome-h2-color;
  }
}

#contacts{
  #contacts-data{
    display: inline-block;
    h2{
      margin-top: 0;
    }

    ul{
      list-style: none;
      padding-left: 1rem;
      margin-bottom: 0;
    }
  }

  #contacts-photo{
    width: 7.244125rem;
    height: 7.244125rem;
    float: right;
    border-radius: 50%;
    
    @media only screen and (max-width: 28rem) {
      display: none;
    }
  }
}
