html,body,#wrap{
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}

#progress{
    opacity: 0;
    position: absolute;
    top: 45px; left: 0;
    width: 100%;
}
#wrap{
	display: table;
}
#topbar{
    display: table-row;
    height: 45px;
}
#center{
	display: table-cell;
	vertical-align: middle;
}

#select-button{
    margin: 10px 0;
}
#select-button, #submit-button{
	width: 100%;
}
.close-button{
    font-size: 8pt;
    color: red;
    height: 100%;
}

.success-file{
    font-size: 8pt;
    color: #0a0;
}
.success-file:hover{
    text-decoration: underline;
    color: #0f0;
}
#results .success-url{
    margin: 2px 0 5px; border-color: #0f0;
}

.error-file{ 
    font-size: 8pt;
    color: #f00;
}
.error-text{
    padding: 8pt; margin: 2px 0 5px;
    color: #333;
    border: 1pt solid #f55;
    -webkit-box-shadow: inset 0 1px 2px rgba(255,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(255,0,0,0.1);
    font-size: 0.875rem;
}

#fileup{
    visibility: hidden;
    width: 0; height: 0;
    top: 0; left: 0;
    position: absolute;
}
#password{ margin: 5px 0 0; }