<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html class="no-js" lang="en">
<head>
    {% include "global/tpl/head.tpl" %}
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="topbar-wrap">
            {% include "global/tpl/topbar.tpl" %}
        </div>
        <div id="middle-wrap">
            <div id="middle">
                {% if progress_bar %}
                    <div class="progress" id="progress">
                        <span class="meter" style="width: 70%;"></span>
                    </div>
                {% endif %}
                <div id="head">
                    <div class="row" id="big-title">
                        <div class="small-12 columns">
                            <h1>
                                {% if not hide_big_title and APP_NAME %}
                                    <a href="{% url APP_NAME|add:":index" %}">{{ APP_INFO.title }}</a>
                                {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row" id="content">
                    <div class="small-12 columns">
                        {% if error %}
                            <div id="error">{{ error }}</div>
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrap">
            {% include "global/tpl/footer.tpl" %}
        </div>
    </div>

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script src="{{ STATIC_URL }}js/base.min.js"></script>
    {% if APP_NAME %}
        {% comment %} TODO: replace it to fully customizable something [2] {% endcomment %}
        <!--suppress HtmlUnknownTarget -->
        <script src="{{ STATIC_URL }}js/{{ APP_NAME }}.min.js"></script>
    {% endif %}
{% include "yandex.html" %}
</body>
</html>
