<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "global/tpl/head.tpl" %}
</head>
<body>
    <div id="wrap">
        {% include "global/tpl/topbar.tpl" %}
        <div id="head">
            <div class="row" id="big-title">
                <div class="small-12 columns">
                    <h1>
                        {% if APP_NAME %}
                            <a href="{% url APP_NAME %}">{{ APP_INFO.title }}</a>
                        {% else %}
                            <a href="">{{ title }}</a>
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
        <div class="row" id="content">
            <div class="small-12 columns">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "global/tpl/footer.tpl" %}
    </div>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/js/foundation.min.js"></script>
    <script src="{{ STATIC_URL }}base.js"></script>
    <script src="{{ STATIC_URL }}{{ APP_NAME }}.js"></script>
{% include "yandex.html" %}
</body>
</html>
